body {
    background-color: #fff;

    color: #fff;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    }



p {
    color: black;

  }



h1 {
    color: black;
    font-size: 70px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;

    }


span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.top-section {
    background-color: grey;
    
}

#bottom-section {
    background-color: aquamarine;
}

/*this is the css box model*/
/* which has 3 parts Margin, padding, borders */

.box {
    background: white;
    width:  400px;

    margin: 100px 500px 258px 100px;
    border-color:yellow ;
    border-width: 10px;
    border-style: solid;
    padding: 100px 100px 100px 100px;


/* adding background imagie and placing it*/
/* the more padding you have the more background you have*/

    background-image: url(../img/car.jpg);
    background-size: contain;
    background-size: cover;

    /*positioning center , right, left, bottom */

    background-position: bottom right;

    /*font styling*/

    font-family: ahoma, Verdana, Segoe, sans-serif;
}

a {
    color:aqua;
    text-decoration: none;

}

a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    color: beige;
}
a:active {
    color: green;
}

/* staring to be very specific on selecting portions of a html document*/

.top-section p {
    color: brown;
    padding: 100px;
}

.top-section a {
    color: white;
    text-decoration: line-through;
    
}

.top-section a:hover {
    color: yellow;
}


/* experimenting with lists*/

/* these are ordered lists*/
ol {
    color:black;
    list-style-type:decimal;
    list-style-position: inside;
    background-color: aquamarine;
    padding: 50px;
}

ol li {
    background-color: blueviolet;
    margin-bottom: 50px;

}

/* these are unordered lists*/
ul {
    color: black;
    background-color: aquamarine;
    list-style-position: inside;
    padding: 50px;
    list-style-type: georgian;
}

/* manuplating specific list items inside the un-ordered list*/
ul li {
    background-color: blueviolet;
    margin-bottom: 50px;


}

/* float and clear*/

.img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#bottom-section {
    clear: both;
}
