body {
    background-color: #000;
    color: #fff;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }



p {
    color: black;

  }



h1 {
    color: pink;
    font-size: 70px;
    font-family: serif;

    }


span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.top-section {
    background-color: aqua;
}

#bottom-section {
    background-color: aquamarine;
}

/*this is the css box model*/

.box {
    background: white;
    width:  400px;

    margin: 100px 500px 258px 100px;
    border-color:yellow ;
    border-width: 10px;
    border-style: solid;
    padding: 100px 200px 1000px 100px;
}